<div id="form-wrap">
	<h2>Add show</h2>
	<form name="newshow" method="POST" id="newshow">
		<label for="name">Name</label>
		<input type="text" name="name">

		<label for="date">Date (format: YYYY-MM-DD)</label>
		<input type="text" name="date">
		
		<label for="starttime">Start time (format: HH:SS)</label>
		<input type="text" name="starttime">
		
		<label for="url">Url</label>
		<input type="text" name="url">	
		
		<label for="bline">Bline</label>
		<input type="text" name="bline">
		
		<label for="leadtext">Leadtext</label>
		<textarea name="leadtext"></textarea>

		<label for="synopsis">Synopsis</label>
		<textarea name="synopsis"></textarea>

		<input class="button" type="submit" id="submit_new" value="Add" />
	</form>
</div>